.recipes {
    padding: 0 20px;
    @include breakpoint-small {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        column-gap: 2%;
    }
    &__item {
        margin-top: 25px;
        @include breakpoint-small {
            width: 49%;
        }
        @include breakpoint-large {
            width: 32%;
        }
    }
    &__item:nth-last-child(1) {
        margin-bottom: 25px;
    }
    &__image {
        width: 100%;
        margin-bottom: -3px;
    }
    &__title-container {
        background: #E7E7E7;
        display: flex;
        justify-content: space-between;
        padding: 20px;
    }
    &__title {
        font-family: Lato;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: 80%;
    }
    &__duration {
        font-family: Lato;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
    }
    &__ingredients-container {
        background: #E7E7E7;
        display: flex;
        justify-content: space-between;
        padding: 0 20px 40px 20px;
    }
    &__ingredients {
        width: 45%;
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 14px;
    }
    &__ingredient {
        font-weight: bold;
    }
    &__description {
        width: 50%;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 100%;
        @include breakpoint-large {
            font-size: 14px;
        }
    }
}