.header {
    display: flex;
    column-gap: 20px;
    align-items: center;
    height: 80px;
    padding: 20px;
    @include breakpoint-large {
        flex-direction: column;
    }

    &__logo-container {
        text-align: center;
    }
    &__title {
        font-family: 'DM Sans', sans-serif;
        font-size: 28px;
        font-weight: 700;
        color: $primary-color;
        @include breakpoint-large {
            font-size: 36px;
        }
    }
    @include breakpoint-large {
        display: flex;
        justify-content: center;
    }
}